# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.egg
*.egg-info/
dist/
build/
.eggs/

# Django
*.log
db.sqlite3
staticfiles/
media/

# Env
.env
*.env

# Venv
venv/
.venv/
env/

# IDE
.idea/
.vscode/
*.swp
*.swo
.DS_Store

# Docker
*.override.yml

# Uploads
uploads/
