
aiogram>=3.4
aiohttp>=3.9
aiohttp-socks>=0.8
Django>=4.2,<5.1
django-redis>=5.4
dj-database-url>=2.1
gunicorn>=20.0,<22
qrcode>=7.4
openpyxl>=3.1
psycopg2-binary>=2.9
python-dotenv>=1.0
redis>=5.0
requests>=2.31
whitenoise>=6.5
